<h2>Collections</h2>
<ul>
  <% Collection.all.each do |col| %>
  <li><%= link_to col.name, col %></li>
  <li>Priority: <%= col.priority %>
    <% if col.priority < 1 %>
    <%= button_to '+', collection_upvote_path(col) %>
    <% elsif col.priority > 2%>
    <%= button_to '-', collection_downvote_path(col) %>
    <% else %>
    <%= button_to '+', collection_upvote_path(col) %>
    <%= button_to '-', collection_downvote_path(col) %>
    <% end %>
  <% end %></li>
</ul>

<h2>Articles</h2>
<ul>
  <% if @articles.flatten.count > 0 %>
    <% @articles.flatten.each do |a| %>
    <li><%= link_to a.title, "http://#{a.url}" %></li>
    <% end %>
  <% else %>
    <%= link_to 'Create New Article', new_collection_article_path(1) %>
  <% end %>
</ul>
