<h2 class="section-title ribbon"><span>My Top Links <%= @collection.name %> <%= link_to '+', new_collection_article_path(@collection) %>[ <%= link_to 'Edit', edit_collection_path(@collection) %> ]</span></h2>
<div class="entries">
  <div class="row">
<% @collection.articles.each do |article|  %>
  <% if !article.archived? %>
	   <li class='link'><%= link_to article.title, article.linkify, :target => "_blank" %>
      <%= button_to 'archive', archive_path(@collection, article) %>
      <%= button_to 'edit', edit_collection_article_path(@collection, article), method: :get %>
      Priority: <%= article.priority %>
        <% if article.priority < 1 %>
        <%= button_to '+', article_upvote_path(@collection, article) %>
        <% elsif article.priority > 2 %>
        <%= button_to '-', article_downvote_path(@collection, article) %>
        <% else %>
        <%= button_to '+', article_upvote_path(@collection, article) %>
        <%= button_to '-', article_downvote_path(@collection, article) %>
        <% end %></li>
    <% end %>
	<% end %>
</ul>
</div>


