
<div class="banner">
    <h2 class='header'><%= @collection.name %></h2>
    <div class='url-bar'><%= render 'articles/form' %>
    <span id='submit'>next</span>
    </div>

</div>
<div class="l-content">
    <div class="pricing-tables pure-g">
    <% @collection.articles.each do |article|  %>
     <% if !article.archived? %>
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header"  style='background: transparent url("<%= article.article_image %>") 0 0 no-repeat;'>


                    <span class="pricing-table-price">
                    <span><%= link_to article.title, article.linkify, :target => "_blank" %></span>
                    </span>
                </div>

                    <button class="button-choose"><i class="fa fa-archive"> </i><br><%= link_to 'archive', archive_path(@collection, article), method: :post%></button>
                    <button class="button-choose"><i class="fa fa-search"> </i><br><%= link_to 'read', collection_article_path(@collection, article) %></button>
                    <button class="button-choose"><i class="fa fa-pencil"> </i><br><%= link_to 'edit', edit_collection_article_path(@collection, article), method: :get %></button>

            </div>
        </div>
    <% end %>
    <% end %>
    </div> <!-- end pricing-tables -->
</div>
