<%= form_for([:collection, @article]) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <% if params[:collection_id] == "1" %>
    <%= f.collection_select(:collection_ids, current_user.collections, :id, :name) %>
  <% else %>
    <%= f.hidden_field(:collection_ids, :value => params[:collection_id]) %>
  <% end %>
  <%= f.submit %>

<% end %>
