<header>
  <div class='nav-wrapper'>
    <ul id="nav">
      <!-- This hidden one just makes scrollspy reset when going above the team section -->
      <li><%= link_to 'collections', collections_path %><%= link_to '+', new_collection_path %></li>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </ul>


    <%= content_tag :ul, id: 'controls' do %>
      <li><%= link_to 'archive', archived_path %></li>
      <li><%= link_to "profile", edit_user_registration_path%></li>
      <li><%= link_to 'x', destroy_user_session_path ,method: 'delete' %></li>
    <% end %>
<!--/.nav-collapse -->
  </div>
</header>
