<!DOCTYPE html>
<html>
<head>
  <title>Parascope</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <div class="sidebar">
    <% if current_user %>
      <%= render 'layouts/sidebar' %>
    <% end %>
  </div>
  <div class="content">
    <% if current_user %>
    <a class="button"></a>
    <% end %>
    <div id='main-wrapper'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
